body {
    background-image: url("/static/images/base-background.jpg");
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 4%;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 700px;
    box-shadow: 5px 8px 16px rgba(255, 255, 255, 1.2);
    border: 2px solid #ccc;
    margin-top: 80px;
    font-family: "Times New Roman", sans-serif;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10%;
    }
}

@media screen and (max-width: 758px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 15%;

    }
}