body {
    background-image: url("/static/images/base-background.jpg");
}

.card {
    box-shadow: 5px 8px 16px rgba(255, 255, 255, 1.2);
    border: 2px solid #ccc;
    border-radius: 10px;
    color: white;
    font-family: "Times New Roman", sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 350px;
}

.card-header h2 {
    margin: 0;
}

.list-group-item {
    list-style-type: none;
    padding-left: 0;
}

.list-group-item button {
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: black;
    box-shadow: 5px 8px 16px rgba(255, 255, 255, 1.2);
    border: 2px solid #ccc;
    color: white;
    border-radius: 10px;
    width: 37px;
    height: 37px;
    font-size: 17px;
}

.list-group-item button:hover {
    color: navajowhite;
}

.card-header h2 {
    margin-right: 28%;
    margin-left: 28%;
}