<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style/home.css">
    <title>Welcome!</title>
</head>
<body>
    {% include 'header.html' %}

    <main>
        <img src="/static/images/alexanderbedrosyan.png" alt="personal_picture" class="round-image">
        <div class="article">
            <p class="text">
            Hello and welcome to my portfolio! <br><br>
                I am a Software University graduate in Sofia passionate about creating
            innovative solutions and exploring the vast realm of programming languages.
            With a firm grasp of Python, HTML5, CSS3, JavaScript, and SQL, I thrive on crafting efficient and
            functional code. Drawing from over seven years of experience in accounting and finance, I have honed
            my knowledge in financial analysis, strategic planning, and meticulous data management,
            delivering precise and informed insights to drive business decisions.<br><br>

                My expertise extends beyond mere coding; I possess strong knowledge in database structures,
            allowing me to architect robust and scalable systems. Within this website, you'll discover a collection of
            my diverse projects that highlight my skills and creativity. Additionally, I showcase my certificates to
            demonstrate my commitment to continuous learning and growth. <br><br>

                I believe in collaboration and the power of networking. If you have an exciting project or think that we
            could collaborate effectively, I'm eager to hear from you. Don't hesitate to reach out; let's create
            something amazing together!
            </p>
        </div>
    </main>

    <div class="form-card">
        <form method="post" action="{% url 'send_message' %}">
            <h2>Direct message</h2>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}" style="color: white">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% csrf_token %}
            <label for="id_name">Name</label><br>
            <input type="text" id="id_name" name="name" required>
            <br>
            <label for="id_email">Email</label><br>
            <input type="email" id="id_email" name="email" required>
            <br>
            <label for="id_message">Message</label><br>
            <textarea id="id_message" name="message" rows="4" required></textarea>
            <br>
            <input type="submit" value="Send">
        </form>
    </div>

    <div class="image-container">
        <img src="/static/images/coding-freak-2.gif" alt="Coding Freak">
    </div>


</body>
</html>