<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style/certificates.css">
    <title>Certificates</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="card-container">

    <div class="card">
      <img src="/static/images/oop.png" class="card-img-top" alt="oop">
      <div class="card-body">
        <h5 class="card-title">COURSE CURRICULUM:</h5>
        <p class="card-text">
            First Steps in OOP
            <br>
            Classes and Objects
            <br>
            Inheritance/Encapsulation/Static and Class Methods
            <br>
            Polymorphism and Abstraction/ SOLID
            <br>
            Iterators and Generators/Decorators
            <br>
            Testing
            <br>
            Design Patterns
        </p>
      </div>
    </div>
        
    <div class="card">
      <img src="/static/images/sql.png" class="card-img-top" alt="oop">
      <div class="card-body">
        <h5 class="card-title">COURSE CURRICULUM:</h5>
        <p class="card-text">
            First Steps in SQL
            <br>
            PostgreSQL Introduction
            <br>
            Data Types and Working with Tables
            <br>
            Basic CRUD and Build-in Functions
            <br>
            Data Aggregation and Table Relations
            <br>
            Subqueries and JOINs
            <br>
            Database Programmability and Transactions
        </p>
      </div>
    </div>    
        
    <div class="card">
      <img src="/static/images/orm.png" class="card-img-top" alt="oop">
      <div class="card-body">
        <h5 class="card-title">COURSE CURRICULUM:</h5>
        <p class="card-text">
            Django Models Basics
            <br>
            Migrations and Django Admin
            <br>
            Data Operations in Django with Queries
            <br>
            Django Models Relations
            <br>
            Models Inheritance and Customization
            <br>
            Advanced Django Model Techniques
            <br>
            Advanced Queries in Django
        </p>
      </div>
    </div>  

    <div class="card">
      <img src="/static/images/js.png" class="card-img-top" alt="basics">
      <div class="card-body">
        <h5 class="card-title">COURSE CURRICULUM:</h5>
        <p class="card-text">
            DOM Manipulation and Events
            <br>
            HTTP and REST
            <br>
            AJAX
            <br>
            Asynchronous Programming
            <br>
            Object and Classes
            <br>
            Functions
        </p>
      </div>
    </div>

    <div class="card">
      <img src="/static/images/advanced.png" class="card-img-top" alt="advanced">
      <div class="card-body">
        <h5 class="card-title">COURSE CURRICULUM:</h5>
        <p class="card-text">
            List as Stacks and Queues
            <br>
            Tuples and Sets
            <br>
            Multidimensional Lists
            <br>
            Functions Advanced
            <br>
            Error Handling
            <br>
            File Handling
            <br>
            Modules
        </p>
      </div>
    </div>

    <div class="card">
      <img src="/static/images/fundamentals.png" class="card-img-top" alt="fundamentals">
      <div class="card-body">
        <h5 class="card-title">COURSE CURRICULUM:</h5>
        <p class="card-text">
            Conditional Statements and Loops
            <br>
            Git and GitHub/Data Types and Variables
            <br>
            HTTP Basics/Lists Basics/HTML & CSS Basics
            <br>
            Functions/Software Development Concepts
            <br>
            Bitwise Operations/Dictionaries
            <br>
            Text Processing/Database Basics/QA Introduction
        </p>
      </div>
    </div>

    <div class="card">
      <img src="/static/images/html.png" class="card-img-top" alt="oop">
      <div class="card-body">
        <h5 class="card-title">COURSE CURRICULUM:</h5>
        <p class="card-text">
            CSS Box Model and Typography
            <br>
            Working with Forms
            <br>
            CSS Flexbox
            <br>
            Grid
            <br>
            HTML structure
            <br>
            CSS Layout
        </p>
      </div>
    </div>

    <div class="card">
      <img src="/static/images/basics.png" class="card-img-top" alt="basics">
      <div class="card-body">
        <h5 class="card-title">COURSE CURRICULUM:</h5>
        <p class="card-text">
            First Steps In Coding
            <br>
            Conditional Statements
            <br>
            Conditional Statements Advanced
            <br>
            For-Loop
            <br>
            While-Loop
            <br>
            Nested Loops
        </p>
      </div>
    </div>

        <div class="card">
      <img src="/static/images/hacker1.png" class="card-img-top" alt="basics">
      <div class="card-body">
        <h5 class="card-title">COURSE CURRICULUM:</h5>
        <p class="card-text">
            Problem Solving
            <br>
            Binary Search
            <br>
            Bubble Sort
            <br>
            Matrix
            <br>
            Graph Theory
            <br>
            Recursions
        </p>
      </div>
    </div>

    </div>


</body>
</html>